@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/*/////////////////////////*/
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(120, 172, 205);
}
/*/////////////////////////*/
.calendario {
  background-color: rgb(255, 255, 255);
  /* height: 500px; */
  width: 450px;
}
/*/////////////////////////*/
.date {
  display: flex;
  justify-content: space-between;
  color: rgb(140, 148, 157);
  font-size: 18px;
  padding: 30px 30px;
}
.day {
  display: flex;
  font-weight: 500;
}
.day p {
  margin-left: 5px;
}
.month {
  display: flex;
  font-weight: 500;
}
.month p {
  margin-left: 5px;
}
/*/////////////////////////*/
.line {
  border: solid 0.5px rgb(234, 234, 234);
  width: 100%;
  padding: 0;
  margin: 0;
}
/*/////////////////////////*/
table {
  width: 100%;
  font-size: 16px;
  padding: 15px 30px;
}
table tr th {
  text-align: center;
  color: rgb(132, 143, 152);
  padding: 0 0 10px 0;
}
table tr td {
  text-align: center;
  color: black;
  font-weight: 500;
  font-size: 16px;
  padding: 17px 0px;
}
table tr .other {
  color: rgb(235, 233, 231);
}
table tr .orange {
  color: white;
  background-color: rgb(222, 110, 70);
  border-radius: 50%;
}
table tr .c-orange {
  border: solid 2px rgb(222, 110, 70);
  border-radius: 50%;
  padding: 0px 4px;
  position: relative;
}
table tr .c-violet {
  border: solid 2px rgb(177, 91, 136);
  border-radius: 50%;
  padding: 0px 4px;
  position: relative;
}
.lit-o {
  font-size: 12px;
  background-color: rgb(222, 110, 70);
  border-radius: 100%;
  color: white;
  position: absolute;
  top: 0;
  right: -6px;
  padding: 3px 7px;
}
.lit-v {
  font-size: 12px;
  background-color: rgb(177, 91, 136);
  border-radius: 100%;
  color: white;
  position: absolute;
  top: 0;
  right: -6px;
  padding: 3px 7px;
}
/*/////////////////////////*/
.footer {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  padding: 30px 30px;
}
.footer .time {
  font-size: 16px;
  display: flex;
}
.footer .time .sish {
  margin-left: 5px;
}
.more {
  border: solid 2px rgb(222, 110, 70);
  border-radius: 50%;
  padding: 5px 10px;
  margin-right: 10px;
}
